input {
  margin-top:15px;
  margin-bottom:15px;
}

.page-title {
  margin:50px 0 20px 0;
}

.main-window {
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0px;
}

.window__footer {
  border-top: 1px solid #dddddd;
  padding: 2rem 2rem 2rem 2rem;
}

.window__message {
  color: #999;
  margin: 10px auto;
  text-align:center;
}


.window__header {
  padding: 2rem 2rem 0rem 2rem;
}

.window__header :first-child{
  padding-bottom: 10px;
}

.window__header label{
  cursor:pointer;;
  font-size: 1rem;
}

.window__header :last-child{
  align-items: center;
  display: flex;
}
