.todo {
  cursor:pointer;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;

}

.todo p,input{
  margin: 0;
  color:#eeeeee;
}


.todo:first-child{
  margin-right: 1rem;
}


.todo:hover{
  background: rgb(250,250,250,0.2);
}

.todo__subtext {

}


.todo-completed p,todo__subtext{
  color:#aaa;
  text-decoration: line-through;
}
